<div class="aside-logo flex-column-auto px-9 mb-9" id="kt_aside_logo">
    <!--begin::Logo-->
    <a href="../../demo3/dist/index.html">
        <img alt="Logo" src="assets/media/logos/logo-demo3-default.png" class="h-20px logo" />
    </a>
    <!--end::Logo-->
</div>
